.sidebar {
    position: fixed;
    height: 100%;
    top: 0;
    left: 0;
    overflow-y: auto;
    z-index: 2; /* Set a higher z-index value for the sidebar */
}

.container {
    font-family: Arial, sans-serif;
    margin-left: 200px;
    width: 100%;
    padding: 10px;
    background-color: #fff;
    position: relative; /* Add relative positioning for stacking context */
    z-index: 1; /* Set a lower z-index value for the container */
}

.header {
    font-size: 30px;
    font-weight: bold;
    margin-top: 0;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
    background-color: #fff;
    z-index: 1; /* Set a lower z-index value for the header */
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1); /* Add bottom shadow */
}

.header h1 {
    font-size: 30px;
    font-weight: bold;
    margin-top: 15px;
    margin-left: 60px;
    display: flex;
    align-items: center;
}

.icons {
    flex-direction: row;
    display: flex;
    margin-top: 7px;
}

.notif-icon {
    width: 30px;
    height: 30px;
    margin-left: 590px;
    cursor: pointer;
}

.account-img {
    width: 32px;
    height: 32px;
    margin-left: 10px;
    cursor: pointer;
    position: relative;
    z-index: 2;
    border: 1px gray solid;
    border-radius: 50px;
}

.account-name {
    background-color: #307A59;
    width: 115px;
    height: 33px;
    font-size: 14px;
    color: #fff;
    font-weight: 400;
    text-align: center;
    border-radius: 50px;
    display: flex;
    justify-content: center; /* Center the content horizontally */
    align-items: center; /* Center the content vertically */
    margin-left: -25px;
    position: relative;
    z-index: 1;
}

.account-name h1 {
    margin: 0; 
    font-size: 14px;
    font-weight: 400;
    color: #fff;
}

.clock {
    justify-content: center;
    font-family: Arial, sans-serif;
    background-color: #307A59;
    padding: 10px;
    border: 1px solid #f7f2f2;
    border-radius: 25px;
    height: 100px;
    width: 250px;
    margin-top: 80px;
    margin-left: 60px;
}

h4 {
    font-size: 20px;
    margin: 0;
    color: #ffffff;
    margin-top: 17px;
    text-align: center;
    font-weight: 400;
}

h2 {
    font-size: 30px;
    margin: 10px 0;
    color: #fff;
    text-align: center;
    justify-content: center;
}

/* CSS for the request container */
.subhead {
    font-size: 16px;
    margin-bottom: 5px;
    margin-left: 60px;
    display: flex;
}

.requests {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 15px;
    margin-left: 5px;
    text-align: justify;
    width: 450px;
}

/* CSS for each request item */
.request-item {
    border: 1px solid #ccc;
    padding: 15px;
    background-color: #f9f9f9;
    border-radius: 25px;
}

.title {
    display: flex;
}

.title h3 {
    margin-left: 200px;
    margin-top: 7px;
    font-size: 11px;
    font-weight: 500;
    color: gray;
}

.request-item img {
    max-width: 24px;
    max-height: 24px;
}

.request-item h5 {
    font-size: 16px;
    margin: 0;
    margin-top: 3px;
    margin-left: 7px;
    margin-bottom: 7px;
}

.request-item p {
    font-size: 14px;
    margin-top: 10px;
    line-height: 20px;
}


.check {
    background-color: #447D60;
    color: white;
    font-size: 14px;
    border: none;
    border-radius: 25px;
    width: 120px;
    height: 35px;
    margin-left: 320px;
}

.check:hover {
    background-color: #93C49E;
    color: black;
}

/* Add a responsive breakpoint for smaller screens */
@media (max-width: 768px) {
    .requests {
        font-size: 16px; 
    }

    .request-item {
        font-size: 14px;
        padding: 8px;
    }

    .request-item img {
        max-width: 20px;
        max-height: 20px;
    }

    .request-item h6 {
        font-size: 14px;
    }

    .request-item p {
        font-size: 12px;
    }
}

/* CSS for the news part */
.news {
    font-size: 16px;
    margin-top: -140px;
    margin-left: 420px;
}

.image-admin {
    display: flex;
    width: 100px;
    height: 30px;
    align-items: center;
    margin-left: 400px;
    margin-bottom: 70px;
    margin-top: 50px;
}

.image-admin img {
    width: 320px;
    height: 120px;
    margin-inline: 15px;
    border-radius: 5px;
}

.image-calendar img {
    width: 300px;
    height: 450px;
    margin-top: 15px;
    margin-left: 60px;
}