
.role-selection{
    margin-right: 120px;
 
}

.role{
    margin-left:5px ;
}

.icon-input .input-icon{
    margin-right: 200px;
}

.sign h4{
    margin-left: 10px;
}

.login-with-google-btn{
    margin-left: 10px;
}

h6{
<<<<<<< HEAD
    margin-left: 0px;
=======
    margin-left: 50px;
>>>>>>> 3e5fb6407ea39bf5b98c5c2f33f90d11baba876c
}

.input-icon{
    margin-left: 300px;
}


.role-selection .role{
    width: 315px;
    margin-left: 45px;
}

.Form h3{
    margin-left: -10px;
<<<<<<< HEAD
}

=======
}
>>>>>>> 3e5fb6407ea39bf5b98c5c2f33f90d11baba876c
